body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0b4237;
  font-family: Arial, sans-serif;
}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.flake {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.cydia {
  background-color: #8B4513;
  color: white;
}

.sileo {
  background-color: #008080;
  color: white;
}

.zebra {
  background-color: #e6dada;
  color: black;
}

h1 {
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: white;
  z-index: 2;
}

/* Style for iOS-shaped image */
.ios-image {
  position: relative;
  width: 100px;
  margin: 20px auto;
  display: flex;
  align-items: center; /* Align text vertically */
}

.ios-image img {
  width: 100%;
  border-radius: 10px; /* iOS shape */
}

.ios-text {
  color: gray;
  margin-left: 50px; /* Adjust spacing between image and text */
}

@media only screen and (max-width: 420px) {
  .ios-text {
    margin-left: 0;
    text-align: center; /* Center text on small screens */
    margin-top: 10px; /* Add spacing between image and text on small screens */
  }
}
